<table id="invoice" class="table-bordered" style="width:500px; color:green">
    <caption></caption>
    {% if cust %}
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for var in cust %}
        <tr>
            <td>{{ var.id }}</td>
            <td>{{ var.party }}</td>
            <td>{{ var.phone }}</td>
            <td>{{ var.invoice }}</td>
            <td>{{ var.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% else %}
<p>No Sales for this Customer are available.</p>
{% endif %}
