{% extends "base.html" %}
{% block content %}

    <table id="invoice" class="table-bordered" style="width:500px; color:green">
            <caption></caption>
            {% if cust %}
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Customer ID</th>
                    <th>Length</th>
                    <th>Discount</th>
                    <th>Tax</th>
                </tr>
            </thead>
            
            <tbody>
           {% for var in cust %}
               <tr>
                    <td>{{ var.item_id }}</td>
                    <td>{{ var.cust_id }}</td>
                    <td>{{ var.length }}</td>
                    <td>{{ var.discount }}</td>
                    <td>{{ var.tax }}</td>
               </tr>
           {% endfor %}
            </tbody>
              
        </table>
           
    

           {% else %}
           <p>No Sales for this Date are available.</p>
           {% endif %}
{% endblock %}











