{% extends "base.html" %}
{% block content %}

    <table id="invoice" class="table-bordered" style="width:500px; color:green">
            <caption></caption>
            {% if cust %}
            <thead>
                <tr>
                    <th>Party Name</th>
                    <th>Invoice_ID</th>
                </tr>
            </thead>
            
            <tbody>
           {% for var in cust %}
               <tr>
                    <td>{{ var.party }}</td>
                    <td>{{ var.invoice }}</td>
               </tr>
           {% endfor %}
            </tbody>
              
        </table>
           
    

           {% else %}
           <p>No Sales for this Date are available.</p>
           {% endif %}
{% endblock %}
