{% load staticfiles %}
<html>
    <head>
        <title></title>
        <link href="{%static "./styles/bootstrap.min.css" %}" rel="stylesheet" />
    </head>
    <body>
        
        <h1 style="text-align: center;">Rahul's Shop</h1>
        <h2 style="text-align: center;">Sale</h2>
        <form id="cust" action ="{% url 'front:commitcust' %}" method = "post" class="form-horizontal"> {% csrf_token %}
            <div class="form-group">
                <label for="phone" class="control-label col-md-3">Phone#:</label>
                <div class="col-md-4">
                    <input autocomplete="off" type="number" class="form-control" name="phone"
                    id="phone" maxlength=10 placeholder="Phone#" required />
                </div>
                <div class="col-md-5">
                    <span id="two" style="position:relative; top:5px; color:red
                        ">*</span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-md-3">Customer Name:</label>
                <div class="col-md-4">
                    <input autocomplete="off" type="text" class="form-control" name="name" id="name" placeholder="Customer Name" required />
                </div>
                <div class="col-md-5">
                    <span id="one" style="position:relative; top:5px; color:red">*</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-md-3">Email:</label>
                <div class="col-md-4">
                    <input autocomplete="off" type="email" class="form-control" name="email"
                    id="email" placeholder="Email" />
                </div>
                <div class="col-md-5">
                    <span id="three" style="position:relative; top:5px; color:red "></span>
                </div>
            </div>
        </form>
        <div class="container">
            <div class="row">
                <input type="button" id="add_items" class="col-md-offset-5 col-md-2  btn btn-success" value="Add items" \>
            </div>
        </div>
        <div id="items" style="margin-top: 50px;" class="container">
            <form id="item0" action ="{% url 'front:commitsale' %}" method =
                "post" class="form-horizontal" style="border-top:1px solid black;" data-itemid="0" data-length="0">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-3">Item 1</label>
                </div>
                <div class="form-group">
                    <label for="item_id" class="control-label col-md-3">Item ID:</label>
                    <div class="col-md-4">
                        <input autocomplete="off" type="number" class="form-control" name="item_id" id="item_id" placeholder="Item ID" required />
                    </div>
                    <div class="col-md-5">
                        <span id="one" style="position:relative; top:5px; color:red ">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="length" class="control-label col-md-3">Length(m):</label>
                    <div class="col-md-4">
                        <input autocomplete="off" type="number" class="form-control" name="length" id="length" min="0" placeholder="Length (m)" required />
                    </div>
                    <div class="col-md-5">
                        <span id="two" style="position:relative; top:5px;
                            color:red ">*</span>
                    </div>
                </div>
                <span class="item-value col-md-3" data="Description:" style="font-weight:700; font-size:14px color:#333" id="desc" ></span>
                <span class="item-value col-md-3" data="Quality:" style="font-weight:700; font-size:14px color:#333" id="quality"  ></span>
                <span class="item-value col-md-3" data="Rate:" style="font-weight:700; font-size:14px color:#333" id="rate"        ></span>
                <br>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <button id="submit" class="col-md-offset-5 col-md-2 btn btn-success">Submit </button>
            </div>
        </div>
        <table id="invoice" class="table-bordered" style="width:500px;">
            <caption></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Length</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr id="tr0"> </tr>
            </tbody>
        </table>
        <script src="{%static "scripts/jquery-2.1.4.min.js" %}"></script>
        <script src="{%static "scripts/bootstrap.min.js" %}"></script>
        <script type="text/javascript" charset="utf-8">
            var count = 1;
            var cust_id = undefined;
            var flag = 0;
            var table = {
                'table': $("table"),
                'tbody': $("table tbody"),
                'caption': $("table caption"),
                'tr': [$("tbody tr")]
            };
            $("#add_items").click(function(){
                $("#items").prepend($("#item0").clone().attr("id","item"+count));
                $($("#item"+count+" label")[0]).html("Item "+(count+1));
                $("#item"+count+" input").val(undefined);
                $("#item"+count+" span").html("");
                table.tbody.append("<tr id=\"tr"+count+"\"></tr>");
                table['tr'].push($("tbody #tr"+count));
                itemOnBlur(count);
                lengthOnChange(count);
                count++;
            });
            function itemOnBlur(item_id){
                $("#item"+item_id+" #item_id").blur(function(){
                    spans = $("#item"+item_id+" span");
                    $("#item"+item_id+" #one").html("*");

                    $.ajax({
                        type: "get",
                        url: "item/"+this.value,
                        success: function(data)
                        {
                            if(data == "Fail")
                            {
                                $("#item"+item_id+" #one").html("* item not found");
                                $("#item"+item_id).attr("data-itemid","0");
                                console.log(data);
                                return false;
                            }

                            $("#item"+item_id).attr("data-itemid","1");
                            data = data.replace(/'/g,"\"");
                            data = JSON.parse(data);
                            for (i = 0; i < spans.length; i++)
                            {
                                idd = spans[i].id;
                                if(data[idd] != undefined)
                                {
                                    $(spans[i]).html($(spans[i]).attr("data")+" "+data[idd]);
                                    $(spans[i]).attr("data-value",data[idd]);
                                }
                            }
                            $("#item"+item_id+" #length").attr("max",data.length);
                        }
                    })
                });
            }
            function lengthOnChange(item_id){
                $("#item"+item_id+" #length").change(function(){

                    $("#item"+item_id+" #two").html("*");
                    if( this.max == "" || this.value > this.max || this.value < this.min)
                    {
                        $("#item"+item_id+" #two").html("Length exceeding or too less");
                        $("#item"+item_id).attr("data-length","0");
                    }
                    else
                        $("#item"+item_id).attr("data-length","1");
                });
            }
            itemOnBlur(0);
            lengthOnChange(0);
            $("#cust #phone").blur(function(){
                inputs = $("#cust input");
                cust_id = this.value;
                $.ajax({
                    type: "get",
                    url: "cust/phone/"+this.value,
                    success: function(data)
                    {
                        if(data == "Fail")
                        {
                            cust_id = undefined;
                            return false;
                        }
                        data = data.replace(/'/g,"\"");
                        data = JSON.parse(data);
                        for (i = 0; i < inputs.length; i++)
                        {
                            idd = inputs[i].id;
                            if(data[idd] != undefined)
                                $(inputs[i]).val(data[idd]);
                        }
                    }
                })
            });
            $("#submit").click(function(){
                inputs = $("input");
                flag = 0;
                for (i = 0; i < inputs.length; i++)
                {
                    if(inputs[i].required && inputs[i].value=="" && inputs[i].name!="bill")
                    {
                        $(inputs[i]).css("border","1px solid red");
                        flag = 1;
                    }
                }
                if (flag)
                    return false;
                flag = 0;
                frm_cust = $('#cust');
                if(cust_id != undefined)
                {
                    billSubmit();
                    return true;
                }
                $.ajax({
                    type: frm_cust.attr('method'),
                    url: frm_cust.attr('action'),
                    data: frm_cust.serialize(),
                    success: function (data)
                    {
                        cust_id = +data;
                        billSubmit();
                    },
                    error: function(data)
                    {
                        console.log(data);
                    }
                });
                function billSubmit()
                {
                    item_ids = [];
                    lengths = [];
                    bill_id = undefined;
                    for(i = 0; i < count; i++)
                    {
                        frm = $("#item"+i);
                        if( +frm.attr("data-itemid") == 0)
                        {
                            $("#item"+i+" #one").html("Wrong item_id in field");
                            return false;
                        }
                        if( +frm.attr("data-length") == 0)
                        {
                            $("#item"+i+" #two").html("Wrong length in field");
                            return false;
                        }
                        item_ids.push( $(frm[0].item_id).val() );
                        lengths.push( $(frm[0].length).val() );
                    }
                    item_data = new FormData();
                    item_data.append('cust_id', cust_id);
                    item_data.append('item_id', item_ids.join(","));
                    item_data.append('length', lengths.join(","));
                    item_data.append($("#cust input")[0].name, $("#cust input")[0].value);
                    $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        data: item_data,
                        processData: false,
                        contentType: false,
                        success: function (data)
                        {
                            console.log(data);
                            bill_id = data;
                            generateBill(bill_id);
                            frm.remove();
                        },
                        error: function(data)
                        {
                            flag = 1;
                        }
                    })
                    if(!flag)
                    {
                        frm_cust.remove();
                        $("#submit").remove();
                    }
                }
            });
            function generateBill(bill_id){
                $('table caption').html("Invoice ID:"+bill_id);
                $('#add_items').remove();
                for(i = 0; i < count; i++)
                {
                    table['tr'][i].append("<th>"+(i+1)+"</th>");
                    table['tr'][i].append("<td>"+$("#item"+i+" #desc").attr('data-value')+"<br>("+$("#item"+i+" #quality").attr('data-value')+")</td>");
                    table['tr'][i].append("<td>"+$("#item"+i+" #length").val()+"</td>");
                    table['tr'][i].append("<td>"+$("#item"+i+" #rate").attr('data-value')+"</td>");
                    table['tr'][i].append("<td>"+ +$("#item"+i+" #rate").attr('data-value')* +$("#item"+i+" #length").val()+"</td>");
                    /*var a = document.createElement("img");
                    var c = static_url;
                    var d = ".png";
                    var e = (c.concat(String(bill_id))).concat(d);
                    a.src = e;
                    a.height = 100;
                    a.width = 100;
                    document.body.appendChild(a);*/
                }
            }
        </script>
    </body>
</html>
